page-home {

    .main{
        background-color: #444341;
        
    }
    h1{
        color: 	#FFBF06;
        text-align: center; 
        font-family: 'Times New Roman', Times, serif; 
    }
    .label{
        text-align: center;
      
    }
      .textbox{
        margin-top: 10px;
          color: 	#FFBF06;
          border-radius: 100px ;
      } 
      p{
        color: 	#FFBF06;
     text-align: center;
      } 
    .body{
        margin-top: 120px;
    }
    .btn{
        margin-top: 20px;
    }
}
