page-hotels {

    .main{
        background-color: #444341;
    }

    .main2{
        // background-color: rgba(8, 6, 3, 0.788);
        border: 10px solid  rgba(26, 23, 19, 0.164);
        box-shadow: 2px 2px 4px 3px #444341;
        border: 3px;
        border-radius: 12px;
        // width: 10px;
    }
.logout{
    text-align: right;
  
    font-family: Arial, Helvetica, sans-serif;
}
.view{
   
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    color: #FFBF06;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

}
